{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="form-group">
        
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-warning alert-dismissible fade show bg-danger w-50" role="alert" style="color: white;">
        <strong>Error!</strong> {{message}}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show bg-success w-50" role="alert" style="color: white;">
        <strong>Success</strong> {{message}}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
   {% endfor %}
</ul>
{% endif %}
        <h1>Create new Task</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label for="todo" class="form-label"> Task </label> <br>
        <input type="text" name="todo" placeholder="Activity Name" class="form-control w-50">
        </div>
        <div class="form-group">
        <label for="date"> Set End-Date</label>  <br>
        <input type="date" name="end">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Task Info (optional)</label> <br>
        <textarea name="description"rows="3" placeholder="any further information" class="form-control w-75"></textarea>
    </div>
        <button type="submit" value="submit" class="btn btn-success">Create</button>
    </form>
    
</div>
{% endblock %}