{% extends 'main.html' %}
{% load static %}
{% block content %}
<body>

    <div class="form-control">
    {% if activities %}

    <h3>Undone tasks for {{today.date}} are: </h3>
    <hr>
    
    {% for activity in activities %}
   <p>
       <a href="{% url 'edit' activity.id %}">edit</a>
    <large> <b> {{activity.todo}} </b> </large> {% if activity.completed != True and activity.expired == False %} <span> <small> <i> . (ongoing)</i></small></span> {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    {% endfor %} 
    
    {% else %}
    <h1>There are no Ongoing for Today </h1>
    {% endif %}
    <h3>Completed tasks for {{today.date}}</h3>  <hr>
    {% for activity in all_activities %}
    {% if activity.completed == True %}
    <p>
    <large> <b>  {{activity.todo}} </b> </large> {% if activity.completed == True %} <span> <small> <i> . (completed)</i></small></span> {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    
    {% endif %}
    {% endfor %}


    <h3> All tasks for {{today.date}}</h3> <hr>
    {% for activity in all_activities %}
    
    <p>
    <large> <b> {{activity.todo}} </b> </large> 
    {% if activity.completed == True %} <span> <small> <i> . (completed)</i></small></span>
    {% elif activity.expired == True and activity.completed == False%} <span> <small> <i> . (expired)</i></small></span>
    {% elif activity.expired == False and activity.completed == False%} <span> <small> <i> . (ongoing)</i></small></span>
    {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    
    {% endfor %}
    <div class="progress" style="height: 30px;">
        <div class="progress-bar progress-bar-striped {% if percent >= 0 and percent <= 25 %} bg-danger {% elif percent >= 26 and percent <= 74 %} bg-warning {% elif percent >= 75 %} bg-success {% endif %}" role="progressbar" style="width: {{percent}}%;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{percent}}% done</div>
      </div>
</div>
{% endblock %}
</body>
</html>