{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<body>

    <div class="all">
    {% if activities %}

    <h1>Undone tasks for <br> {{today.date}} are: </h1>
    <hr>
    <ul>
    {% for activity in activities %}
   <p>
    <large> <b> <a href="{% url 'edit' activity.id %}"> {{activity.todo}} </a> </b> </large> {% if activity.completed != True and activity.expired == False %} <span> <small> <i> . (ongoing)</i></small></span> {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    {% endfor %} 
    </ul>
    {% else %}
    <h1>There are no Ongoing for Today </h1>
    {% endif %}
    <h1>Completed tasks for <br> {{today.date}}</h1>  <hr>
    <ul>
    {% for activity in all_activities %}
    {% if activity.completed == True %}
    <p>
    <large> <b>  {{activity.todo}} </b> </large> {% if activity.completed == True %} <span> <small> <i> . (completed)</i></small></span> {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    
    {% endif %}
    {% endfor %}
    </ul>

    <h1>All tasks for {{today.date}}</h1> <hr>
    <ul>
    {% for activity in all_activities %}
    
    <p>
    <large> <b> {{activity.todo}} </b> </large> 
    {% if activity.completed == True %} <span> <small> <i> . (completed)</i></small></span>
    {% elif activity.expired == True and activity.completed == False%} <span> <small> <i> . (expired)</i></small></span>
    {% elif activity.expired == False and activity.completed == False%} <span> <small> <i> . (ongoing)</i></small></span>
    {% endif %}<br> 
    <small>Duration: {{activity.start}} - {{activity.end}} </small> <br>
    <small> <b> {{activity.description}} </b> </small>
    </p>
    
    {% endfor %}
    <h3> You are {{percent}}% done</h3>
</ul>
</div>
{% endblock %}
</body>
</html>