{% extends 'main.html' %}
{% load static %}

{% block content %}

{% if login %}
<div class="form-group">
{% if messages %}
<ul class="messages" style="padding-top: 20px;">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-danger w-50"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="" method="post" class="">
    {% csrf_token %}
    <h1>Welcome</h1>
    <div class="input-group mb-3 w-50">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>      
    
      <div class="input-group mb-3 w-50">
        <span class="input-group-text" id="basic-addon1">key</span>
        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <button type="submit" value="submit" class="btn btn-success">Log-in</button> 
    <br>
    <a href="{% url 'sign-up' %}"><i> Don't have an account? Sign-up instead </i></a>
</form>
</div>
{% endif %}

{% if logout %}
<form action="" method="post" class="form-group">
    {% csrf_token %}
    <h4>Log-out @{{request.user.username}}</h4>
    <button type="submit" value="submit" class="btn btn-danger">Log-out</button>
     <a href="{% url 'home' %}" class="al">Back</a>
</form>
{% endif %}

{% endblock %}