{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="nav">
        <span class="nav-items">
            <a href="{% url 'home' %}"> Home </a>
        </span>
        {% if request.user.is_authenticated %}
        <span class="nav-items">
            <a href="{% url 'log-out' %}">Log-out</a>
        </span>
        <span class="nav-items">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="todo" placeholder="Search Activity">
            </form>
        </span>

        <span class="nav-items">
            <a href="{% url 'create' %}">Add Task</a>
        </span>
        
        {% else %}
        <span class="nai-items">
            <a href="{% url 'log-in' %}">Log-in</a>
        </span>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>